<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="icon" href="logo.svg">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mediaQ.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/0c6c59d6fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
</head>
<body>
    <%- include('parts/header') %> 
    <section class="body1">
        <div class="body00"></div>
        <div class="body2">
            <div class="body2_01">
                <h1>Bienvenue au Portail National</h1>
                <p>Pour la reclamation des problèmes régionaux</p>
                <button><a href="/Login">Continue</a></button>
            </div>
        </div>
        <div class="body3 body03">
            <h1 class="textQchi">QUELQUES CHIFFRES</h1>
            <div class="body30001">
                <div class="body30001_details0 ">
                    <i class="uil uil-file"></i>
                    <div class="body30001_details00">
                        <span class="numberDe">0</span>
                        <p class="Reclamationsdep">Réclamations déposées</p>
                    </div>
                </div>
                <div class="body30001_details0 body30001_details" >
                    <i class="uil uil-check-square"></i>
                    <div class="body30001_details00">
                        <span class="numberDe">0</span>
                        <p class="Reclamationstrai">Réclamations traitées</p>
                    </div>
                </div>
                <!-- <div class="body30001_details0">
                    <i class="uil uil-chart-bar"></i>
                    <a href="#" class="toutStat">Toutes les statistiques</a>
                </div> -->
            </div>            
        </div>
        <div class="body3">
            <div class="body3_0">
                <h1 class="textbody3_0H1">Problèmes</h1>
                <div class="body3_01">
                    <div class="body3_01_01">
                        <i class="uil uil-processor"></i>
                        <span>Problème Technique</span>
                    </div>
                    <div class="body3_01_01">
                        <i class="uil uil-comment-alt-block"></i>
                        <span>Problème De Communication</span>
                    </div>
                    <div class="body3_01_01">
                        <i class="uil uil-user-exclamation"></i>
                        <span>Problème Organisationnel</span>
                    </div>
                    <div class="body3_01_01">
                        <i class="uil uil-users-alt"></i>
                        <span>Problème Relationnel</span>
                    </div>
                    <div class="body3_01_01">
                        <i class="uil uil-coins"></i>
                        <span>Problème Financier</span>
                    </div>
                    <div class="body3_01_01">
                        <i class="uil uil-cloud-upload"></i>
                    </div>
                    <div class="body3_01_01">
                        <i class="uil uil-cloud-upload"></i>                   
                    </div>
                    <div class="body3_01_01">
                        <i class="uil uil-cloud-upload"></i>                    
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    <script src="/js/js.js"></script>
</body>
</html>