<header>
    <div class="header01">
        <img src="/logo.svg" alt="" srcset="" width="65px">
        <nav>
            <div class="navLink01">
                <a href="/Agent/" >AFFICHIER  REC</a>
                <a href="/Agent/Envoyer" >ENVOYER REC</a>
            </div>
            <a href="/logout" class="seConnectBTN" style="background-color: red;">SE DECONNECTER</a>
        </nav>
    </div>
    <div class="header02">
        <img src="/logo.svg" alt="" srcset="" width="65px">
        <i class="uil uil-bars"></i>
        <i class="uil uil-times"></i>
        <nav>
            <a href="/Agent/" >AFFICHIER  REC</a>
            <a href="/Agent/Envoyer">ENVOYER REC</a>
            <a href="/logout" class="seConnectBTN" style="background-color: red;">SE DECONNECTER</a>
        </nav>
    </div>
</header>