<header>
    <div class="header01">
        <img src="/logo.svg" alt="" srcset="" width="65px">
        <nav>
            <div class="navLink01">
                <a href="/Administrateur" >Table de bord</a>
                <a href="/Administrateur/AdminShowr" >Listes  Rec </a>
                <a href="/Administrateur/AdminGeAcount" >Listes  Agents </a>
                <a href="/Administrateur/AdminGeContact" >Listes  Contact </a>
            </div>
            <a href="/logout" class="seConnectBTN" style="background-color: #068843;">Deconnexion</a>
        </nav>
    </div>
    <div class="header02">
        <img src="/logo.svg" alt="" srcset="" width="65px">
        <i class="uil uil-bars"></i>
        <i class="uil uil-times"></i>
        <nav>
            <a href="/Administrateur" >Table de bord</a>
            <a href="/Administrateur/AdminShowr" >Listes  Rec</a>
            <a href="/Administrateur/AdminGeAcount" >Listes  Agents </a>
            <a href="/Administrateur/AdminGeContact" >Listes  Contact </a>
            <a href="/logout" class="seConnectBTN" style="background-color: #068843;">Deconnexion</a>
        </nav>
    </div>
</header>