<header>
    <div class="header01">
        <img src="logo.svg" alt="" srcset="" width="65px">
        <nav>
            <div class="navLink01">
                <a href="/" >ACCUEIL</a>
                <a href="/Contact" >CONTACT</a>
            </div>
            <a href="/Login" class="seConnectBTN ">SE CONNECTER</a>
        </nav>
    </div>
    <div class="header02">
        <img src="logo.svg" alt="" srcset="" width="65px">
        <i class="uil uil-bars"></i>
        <i class="uil uil-times"></i>
        <nav>
            <a href="/" >ACCUEIL</a>
            <a href="/Contact" >CONTACT</a>
            <a href="/Login" class="seConnectBTN ">SE CONNECTER</a>
        </nav>   
    </div>
</header>