*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;list-style: none;
    transition: all .6s ease;
}
body{
    background-color: #fff;
    width: 100%;
    height: 100vh;
}
/*  */
.body00{
    width: 100%;
    height:80px;
}
.body1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.body2{
    width: 100%;
    height: 420px;
    background-image: url('/search-bg.jpeg');
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    /* transform: scaleX(-1); */

    align-content: flex-start;
    justify-content: center;
}
.body2 .body2_01{
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.body2 .body2_01 h1{
    font-size: 45px;
    color: #068843;
}
.body2 .body2_01 p{
    font-size: 33px;
    color: #068843;
}
.body2 .body2_01  button{
    background-color: #068843;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.body2 .body2_01  button a{
    color: #fff;
    background-color: #068843;
}
.body3{
    background-image: url('/bodysection.png');
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body3_0{
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body3_0 h1{
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 33px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.body3_01{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.body3_01_01{
    cursor: pointer;
    width: 250px;
    height: 240px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px black;
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.body3_01_01:hover{
    transform: scale(1.2);
}
.body3_01_01 i{
    font-size: 100px;
    color: #068843;
}
.body3_01_01 span{
    font-size: 17px;
    color: #4fc084e1;
}



header .header02{
    display: none;
    
}
header .header02 i{
    font-size: 35px;
    color: #068843;
    cursor: pointer;
}
header .header02 .uil-times{
    display: none;
}
.header02 nav{
    z-index: 10000000;
    overflow: hidden;
    width: 100%;
    height: 90vh;
    background-color: rgb(253, 253, 253);
    top: 80px;
    left: -1000px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    scroll-behavior: auto;
    /* display: none; */
    transition: all 1s ease;

}
.header02.activeNav .uil-bars{
    display: none;
}
.header02.activeNav .uil-times{
    display: block;
}
.header02.activeNav nav{
    transition: all 1s ease;
    z-index: 10000000;
    overflow: hidden;
    width: 100%;
    height: 90vh;
    background-color: rgba(163, 163, 163, 0.535);
    backdrop-filter: blur(4px);
    top: 80px;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    scroll-behavior: auto; 
}
.header02 nav a{
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 700;
}
.header02 nav a:hover{
    color: #068843;
}
.header02 nav .seConnectBTN{
    border-radius: 4px;
    padding: 10px 25px;
    font-size: 18px;
    color: #fff;
    background-color: #068843;
}
.header02 nav .seConnectBTN:hover{
    color: #fff;
}

/*  */
.secLogin{
    width: 100%;
    height: 100vh;
    background-image: url('/bodysection.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secLogin .secLogin01{
    width: 60%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgb(73, 72, 72);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*  */
.secLogin01_01{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.secLogin01_01_1,.secLogin01_01_2{
    background-color: #cccccc26;
    width: 100%;
    height: 100%;
}
.secLogin01_01 form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
.secLogin01_01 form h2{
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
}
.secLogin01_01 form p{
    color: rgb(73, 72, 72);
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;
}
.secLogin01_01 form  .logonform{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.secLogin01_01 form  .logonform label{
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(73, 72, 72);
}
.secLogin01_01 form  .logonform  input{
    height: 40px;
            padding: 0 1em;
            border-radius: 7px;
            border: 1px solid #e0e0e7;
            outline-color: #44f898b7;
    border-bottom: 1px solid rgb(73, 72, 72);
}
.secLogin01_01 form  .checkboxform{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.secLogin01_01 form  .checkboxform label{
    font-size: 14px;
    color: rgb(73, 72, 72);
    cursor: pointer;
}
.secLogin01_01 form .btnSub{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.secLogin01_01 form .btnSub input{
    background-color: #068843;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
}
/*  */
.secLogin01_01_2_0{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
.secLogin01_01_2_0 h1{
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.secLogin01_01_2_0  h2{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.secLogin01_01_2_0  .imgimgQR{
    text-align: center;
    filter: blur(2px);
    cursor: pointer;
    margin-bottom: 10px;
}
.secLogin01_01_2_0  .imgimgQR:hover{
    transform: scale(1.1);
}
.secLogin01_01_2_0  p{
    font-size: 17px;
    text-align: center;
}
.secLogin01_01_2_0  p span{
    color: #068843;
}
/* Contact */
/* .secLogin01_02{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
} */
.contact{
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.contact h1{
    color: #4fc084e1;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.contact01{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.contact01_0{
    padding: 10px;
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact01_0_1 {
    display: flex;flex-direction: column;gap: 10px;
}
.contact01_0_1 i{
    font-size: 60px;
    color: #44f898c4;
    text-align: center;
    transition: all 1s ease;
    cursor: pointer;
}
.contact01_0_1 i:hover{
    transform: scale(1.5);

}
.contact01_0_1  p{
    color: #606060;
    font-size: 14px;
    text-align: center;
}
.contact01 form{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.contact01 form .formContact{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
}
.formContact1{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.formContact1 input{
    width: 100%;
    padding: 10px;
    background-color: #6060600f;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 15px;
    outline: none;
    border-bottom: 2px solid #606060;
}
.formContact2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.formContact2 label{
    width: 100%;
    font-size: 14px;
    color: #606060;
}
.formContact2  select{
    width: 100%;
    padding: 10px;
    background-color: #6060600f;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 15px;
    outline: none;
    border-bottom: 2px solid #606060;
}
.formContact textarea{
    width: 100%;
    padding: 10px;
    background-color: #6060600f;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 15px;
    outline: none;
    border-bottom: 2px solid #606060;
}
.formContact3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.formContact3 button{
    background-color: #068843;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* FAQ */
.secLogin1{
    width: 100%;
    height: 100vh;
    background-image: url('/bodysection.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secLoginFAQ{
    width: 60%;
    height: auto;
}
.secLoginFAQ1{
    padding: 40px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* margin-top: 200px; */
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.secLoginFAQ1 h1{
    color: #068843;
    margin-bottom: 10px;
    text-align: center;
}
.secLoginFAQ1box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.secLoginFAQ1box1{
    width: 100%;
    background-color: #cccccc48;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}
.secLoginFAQ1box1 p{
    display: none;
}
.actFAQ p{
    display: block;
}
.secLoginFAQ1box1 .secLoginFAQ1box10{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.secLoginFAQ1box1 .secLoginFAQ1box10 h5{
    font-size: 17px;
    color: rgb(0, 0, 0);
}
.secLoginFAQ1box1 .secLoginFAQ1box10 i{
    font-size: 20px;
    color: #068843;
    cursor: pointer;
    font-weight: 700;
}
/*  */
.body03{
    width: 100%;
    height: auto;
    background-image: url('/headerbg.png');
    background-size: cover;
}
.body03 h1{
    padding: 20px;
    color: rgb(73, 72, 72);
}
.body30001{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;  
    padding: 10px 0;
}

.body30001 .body30001_details0{
    height: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}
.body30001 .body30001_details0 i{
    color: #068843;
    font-size: 45px;
}
.body30001_details00{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.body30001_details00 p{
    color: #606060;
}
.body30001_details0 a{
    color: #fff;
    background-color: #068843;
    padding: 10px 15px;
    border-radius: 10px;
}

/*  */
.app2AFF{
    width: 100%;
    height: 100%;
    position: relative;
    top:140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app2AFF01{
    width: 90%;
    height: auto;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.app2AFF01 h2{
    text-align: center;
}
.app2AFF01tab{
    width: 100%;
    height: auto;
    background-image: url('/headerbg.png');
    background-size: cover;
    border-radius: 10px;
}
/*  */
.row{
    width: 100%;
    height: auto;
}
.col-md-12,
.table-wrap,
.table{
    width: 100%;
    height: auto;
}
.table thead tr{
    background-color: rgba(0, 0, 0, 0.566);
    color: #fff;
}
th{
    width: 100px;
    height: auto;

}
tr{
    text-align: center;
    background-color: #ffffff8b;
}
.btn-success{
    color: green;
    font-weight: bolder;
}
.btn-warning{
    color: rgb(229, 134, 17);
    font-weight: bolder;

}
.btn-danger{
    color: red;
    font-weight: bolder;
}

/*  */
.MotDePasswOb{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.566);
}
.MotDePasswOb:hover{
    color: rgb(0, 0, 0);
}
.secLogin01_1MPO{
    /* margin-top: 200px; */
    width: 40%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgb(73, 72, 72);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secLogin01_1MPO form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
.secLogin01_1MPO form h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 0, 0);
}

.secLogin01_1MPO form  .logonform{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.secLogin01_1MPO form .logonform label{
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(73, 72, 72);
}
.secLogin01_1MPO form  .logonform  input{
    height: 40px;
            padding: 0 1em;
            border-radius: 7px;
            border: 1px solid #e0e0e7;
            outline-color: #44f898b7;
    border-bottom: 1px solid rgb(73, 72, 72);
}
.secLogin01_1MPO form  .logonform  select{
    height: 40px;
            padding: 0 1em;
            border-radius: 7px;
            border: 1px solid #e0e0e7;
            outline-color: #44f898b7;
    border-bottom: 1px solid rgb(73, 72, 72);
}
.secLogin01_1MPO form .btnSub{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.secLogin01_1MPO form .btnSub input.secLogin01_1MPOed{
    width: 100%;
    background-color: #068843;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
}
.secLogin01_1MPO form .btnSub input.secLogin01_1MPOAnnuler{
    width: 100%;
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
}